In [38]:
import pandas as pd
import seaborn as sns

In [39]:
# Load Data
data = pd.read_csv('../data/combined_data_season_adjusted.csv')

In [40]:
data.head(10)

,cell_value,time_slot_id,error_data,category_code,seasonally_adj,data_type_code,time,us
0,688810.0,0,no,44X72,yes,SM,2023-06,1
1,703256.0,0,no,44X72,yes,SM,2023-12,1
2,11124.0,0,no,4521E,yes,SM,2023-04,1
3,10871.0,0,no,4521E,yes,SM,2023-10,1
4,415563.0,0,no,44000,yes,SM,2017-02,1
5,416861.0,0,no,44000,yes,SM,2017-08,1
6,29544.0,0,no,444,yes,SM,2017-10,1
7,473019.0,0,no,44X72,yes,SM,2017-01,1
8,473552.0,0,no,44X72,yes,SM,2017-07,1
9,400619.0,0,no,44Y72,yes,SM,2018-09,1

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cell_value      3500 non-null   float64
 1   time_slot_id    3500 non-null   int64
 2   error_data      3500 non-null   object
 3   category_code   3500 non-null   object
 4   seasonally_adj  3500 non-null   object
 5   data_type_code  3500 non-null   object
 6   time            3500 non-null   object
 7   us              3500 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 218.9+ KB

In [42]:
for column in data.columns:
    print(f"Column: {column}")
    print(f"Unique values: {data[column].unique()}")
    print(f"Number of unique values: {data[column].nunique()}\n")

Column: cell_value
Unique values: [6.88810e+05 7.03256e+05 1.11240e+04 ... 7.60000e+00 4.80000e+00
 5.00000e+00]
Number of unique values: 1797

Column: time_slot_id
Unique values: [0]
Number of unique values: 1

Column: error_data
Unique values: ['no' 'yes']
Number of unique values: 2

Column: category_code
Unique values: ['44X72' '4521E' '44000' '444' '44Y72' '451' '453' '4451' '441' '454'
 '441X' '443' '447' '446' '452' '448' '445' '44W72' '442' '44Z72' '722']
Number of unique values: 21

Column: seasonally_adj
Unique values: ['yes']
Number of unique values: 1

Column: data_type_code
Unique values: ['SM' 'E_SM']
Number of unique values: 2

Column: time
Unique values: ['2023-06' '2023-12' '2023-04' '2023-10' '2017-02' '2017-08' '2017-10'
 '2017-01' '2017-07' '2018-09' '2019-05' '2019-11' '2020-03' '2020-09'
 '2021-02' '2021-08' '2019-02' '2019-08' '2020-06' '2020-12' '2017-06'
 '2017-12' '2017-05' '2018-01' '2018-07' '2020-11' '2020-01' '2020-07'
 '2021-03' '2021-09' '2021-01' '2021-07' '2021-12' '2022-03' '2022-09'
 '2020-10' '2021-06' '2017-03' '2017-09' '2018-06' '2018-12' '2018-11'
 '2019-06' '2019-12' '2020-04' '2018-02' '2018-08' '2019-09' '2023-02'
 '2023-08' '2023-11' '2021-04' '2023-01' '2022-12' '2022-08' '2022-02'
 '2022-01' '2022-07' '2019-01' '2019-03' '2019-04' '2019-07' '2019-10'
 '2021-05' '2021-10' '2021-11' '2022-04' '2022-05' '2022-06' '2022-10'
 '2022-11' '2023-07' '2023-09' '2023-03' '2023-05' '2017-04' '2017-11'
 '2018-03' '2018-04' '2018-05' '2018-10' '2020-02' '2020-05' '2020-08']
Number of unique values: 84

Column: us
Unique values: [1]
Number of unique values: 1

In [43]:
data = data.drop(columns=['time_slot_id', 'us'])

In [44]:
# Group by 'data_type_code' and get unique values of 'error_data' and basic stats for 'cell_value'
result = data.groupby('data_type_code').agg({
    'error_data': 'unique',       # Get unique values of 'error_data' for each 'data_type_code'
    'cell_value': ['unique', 'count', 'min', 'max']  # Get unique values and basic stats for 'cell_value'
})

result

               error_data                                         cell_value  \
                   unique                                             unique
data_type_code
E_SM                [yes]  [0.9, 0.7, 0.0, 0.6, 1.9, 2.3, 0.5, 1.2, 2.5, ...
SM                   [no]  [688810.0, 703256.0, 11124.0, 10871.0, 415563....


               count     min       max
data_type_code
E_SM            1736     0.0       7.6
SM              1764  2885.0  703256.0

In [49]:
data[(data['category_code'] == "441X") & (data['time'] == "2023-07")]

,cell_value,error_data,category_code,seasonally_adj,data_type_code,time
1454,120738.0,no,441X,yes,SM,2023-07
3187,1.5,yes,441X,yes,E_SM,2023-07